
.magnifyglass{
    border:1px black solid;
    box-shadow: 5px 5px 10px #1e1e1e;
 }

 button.link{
    background:none;
    border:none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    background-color: #f1f1f1;
}


.hide {
    display: none;
  }
      
.moreInfo:hover + .hide {
display: block;
color: red;
}

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #FDD692;
    cursor: pointer;
    font-size: 18px;
  }

.btnNext,.btnPrevious,.btnsubmit{
    float:right;
    margin-top:5px;
    margin-right: 5px;

}
  /* Style the active class, and buttons on mouse-over */
.btn:hover {
background-color: #EC7357;
color: white;
}
.active {
    background-color: white;
    color: black;
    }
div.border-around{
    border: 2px solid #ccc;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 15px;
}

#TAB1,#TAB2,#TAB3,#TAB4,#TAB5{ 
    background-color: fffcf0;
}

.viewer{
        height: 700px;
        width: 100%;
        border: 1px solid #deecee;
        background:white;
}
.text-secondary {
    margin-left: 10px;
    color:#754F44;
}