
.magnifyglass{
    border:1px black solid;
    box-shadow: 5px 5px 10px #1e1e1e;
 }

 button.link{
     background:none;
     border:none;
 }

 /* #ReportProblemDIV {
     margin-top:20px;
} */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    background-color: #f1f1f1;
}


.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  
  /* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
background-color: #666;
color: white;
}

div.border-around{
    border: 2px solid #ccc;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 15px;
}
